fastapi
uvicorn
python-dotenv
pandas
pymupdf4llm
# Les librairies IA
llama-index-core
llama-index-llms-gemini
llama-index-embeddings-gemini
llama-index-readers-github
llama-index-vector-stores-pinecone
# Ragas (Version bloquée pour éviter les bugs)
ragas==0.1.21
# LangChain pour Gemini (pour corriger le bug de génération)
langchain-google-genai
langchain

pydantic-settings
dspy-ai
pygithub